doctype html
html
    head
        title title
    body
        h1 The Praabindh's Web

        p The Data Passed Are ~ 
        each item in dataArray
            p = item
        img(src="https://images.unsplash.com/photo-1704799191531-085f46e6221c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="Open Source Image", height=200)